.header-text {
  bottom: 21.88%;
  color: #444950;
  font-family: 'Abhaya Libre';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  left: 10%;
  letter-spacing: 0.02em;
  line-height: 140%;
  position: absolute;
  right: 10%;
  text-align: center;
  text-transform: uppercase;
  top: 28.12%;
}