header, section, footer {
  width: 100%;
}

header {
  background: #FFDCD3;
  height: 32px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

section {
  background: #F5F5F5;
  flex-grow: 1;
}

footer {
  background: #8FD0B9;
  height: 100px;
  bottom: 0;
  left: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 32px - 100px);
  top: 32px;
}

body {
  display: inline;
  margin: 0 auto;
}
